<div class="alert alert-warning full-height">
    <h2>Menu</h2>
    <button class="btn btn-success btn-block" [routerLink]="['/home']">Home</button><br><br>

    <button class="btn btn-primary btn-block" [routerLink]="['/employee-list']">Employee_list</button>
    <br><br>
    <button class="btn btn-primary btn-block" [routerLink]="['/add-employee']">Add_Employee</button>
    
    <br><br>
    <button class="btn btn-primary btn-block" [routerLink]="['/add-department']">Add_Department</button>
    <br><br>
    <button class="btn btn-primary btn-block" [routerLink]="['/department-list']">Department_list</button>
    


</div>