<h2>Employee List</h2>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee_Id</th>
            <th>Employee_Name</th>
            <th>Employee_Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let e of employees'>
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.salary}}</td>
            <td>
                <button class="btn btn-success" [routerLink]="['/employee-details',e.id]">Employee_Info</button>
            </td>
        </tr>

    </tbody>
</table>
